<%- include('partials/header', { title: 'Контакты' }) %>

    <!-- Contact Section -->
    <section class="contact-us">
        <div class="container">
            <h1 class="text-center">Контакты</h1>
            <p class="text-center">Свяжитесь с нами по любым вопросам, связанным с работой приложения или
                сотрудничеством.</p>
            <div class="row mt-5">
                <!-- <div class="col-md-6">
                    <h3>Адрес</h3>
                    <p>123456, г. Москва, ул. Примерная, д. 10, оф. 15</p>
                </div> -->
                <div class="col-md-6">
                    <h3>Email</h3>
                    <p><a href="mailto:support@carqr.link">support@carqr.link</a></p>
                </div>
                <!-- <div class="col-md-6 mt-4">
                    <h3>Телефон</h3>
                    <p>+7 (900) 123-45-67</p>
                </div> -->
                <div class="col-md-6">
                    <h3>Социальные сети</h3>
                    <ul class="list-unstyled">
                        <li><a href="https://github.com/car-qr-link">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer', { showSteps: false }) %>