<%- include('partials/header', { title: 'Активируй QR!' }) %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-success text-center" role="alert">
                    <h4 class="alert-heading">Привязка успешно выполнена!</h4>
                    <p>Ваш QR-код успешно привязан к учетной записи.</p>
                    <hr>
                    <a href="/" class="btn btn-primary">Вернуться на главную</a>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/footer', { showSteps: false }) %>
